.carouselNavigation {
  display: flex;
  gap: 12px;
  margin-top: 32px;
  justify-content: center;
}

.carouselNavigationTab {
  composes: cursor from 'App.css';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--clr-carousel-tab);
}

.carouselNavigationTabSelected {
  background-color: var(--clr-carousel-tab-selected);
  border-color: transparent;
}

.carouselNavigationHidden {
  display: none;
}
