.stackList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.stackListItem {
  padding: 8px;
  border: 1px solid rgba(var(--clr-secondary-rgb), 12%);
  border-radius: 12px;
}

.stackListItemContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
