.heroContent {
  display: flex;
  flex-direction: column-reverse;
  gap: 56px;
  padding-top: 24px;
}

.heroStrapline {
  font-size: 16px;

  margin-bottom: 12px;
  color: var(--clr-secondary);
}

.heroHeading {
  font-size: 32px;
  font-weight: 700;
  color: var(--clr-secondary);
}

@media only screen and (min-width: 768px) {
  .heroContent {
    flex-direction: row;
    align-items: center;
    height: calc(100vh - 56px);
    padding-top: 0;
  }

  .heroContent > div {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .heroHeading {
    font-size: 40px;
  }

  .heroStrapline {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .heroContent > div:first-child {
    width: 720px;
  }

  .heroContent > div:last-child {
    width: auto;
  }

  .heroHeading {
    font-size: 48px;
  }
}
