.button {
  display: flex;
  gap: 12px;
  outline: none;
  border: none;
  border-radius: 32px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 250ms, opacity 250ms;
}

.buttonLink {
  border-radius: 32px;
}

.buttonPrimary {
  background-color: var(--clr-accent);
  color: var(--clr-button-primary-text);
}

.buttonPrimary:hover {
  background-color: rgba(var(--clr-accent-rgb), 88%);
}

.buttonSecondary {
  background-color: transparent;
  border: 1px solid var(--clr-button-secondary-border);
  padding-top: 11px;
  padding-bottom: 11px;
  color: var(--clr-secondary);
}

.buttonSecondary:hover {
  background-color: rgba(var(--clr-secondary-rgb), 4%);
}

.buttonProjectPrimary {
  color: var(--clr-white);
}

.buttonProjectPrimary:hover {
  opacity: 0.88;
}

.buttonProjectSecondary {
  background-color: transparent;
  border: 1px solid rgba(var(--clr-secondary-rgb), 16%);
}

.buttonProjectSecondary:hover {
  background-color: rgba(var(--clr-button-project-primary-bg), 48%);
}

.buttonProjectOnePrimary {
  background-color: var(--clr-project-one);
}

.buttonProjectOneSecondary {
  color: var(--clr-project-one);
}

.buttonProjectTwoPrimary {
  background-color: var(--clr-project-two);
}

.buttonProjectTwoSecondary {
  color: var(--clr-project-two);
}

.buttonProjectThreePrimary {
  background-color: var(--clr-project-three);
}

.buttonProjectThreeSecondary {
  color: var(--clr-project-three);
}

.buttonProjectFourPrimary {
  background-color: var(--clr-project-four);
}

.buttonProjectFourSecondary {
  color: var(--clr-project-four);
}

.buttonContactPrimary {
  background-color: var(--clr-accent);
  color: var(--clr-button-contact-primary-text);
}

.buttonContactPrimary:hover {
  background-color: rgba(var(--clr-accent-rgb), 88%);
}
