.hamburger {
  width: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hamburgerContainer {
  cursor: pointer;
  padding: 8px;
}

.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  width: inherit;
  height: 2px;
  background-color: var(--clr-secondary);
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
