.projectTagsList {
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  color: var(--clr-secondary);
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 992px) {
  .projectTagsList {
    width: 350px;
  }
}
