.aboutCodeEditor {
  background-color: var(--clr-secondary);
  width: 450px;
  height: 250px;
  border-radius: 4px;
  position: absolute;
  user-select: none;
}

.aboutCodeEditorHeader {
  height: 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 12%);
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.aboutCodeEditorHeading {
  color: rgba(255, 255, 255, 72%);
}

.code {
  font-size: 16px;
  display: block;
  padding: 12px;
}

.codeContainer {
  white-space: normal;
}

.codeLine {
  display: flex;
}

.declaration,
.operator,
.quote,
.semicolon,
.period {
  color: #5cd5fc;
}

.variable {
  color: #c099ff;
}

.variableName {
  color: #f08481;
}

.functionName {
  color: #4095e4;
}

.parenthesis,
.object {
  color: #f1c762;
}

.objectAlt {
  color: #8bb8dd;
}

.number {
  color: #d88b5d;
}

.string {
  color: #a2d173;
}

.identifier {
  color: var(--clr-white);
}
