.aboutParagraphs {
  color: var(--clr-text);
}

.aboutParagraph {
  font-size: 18px;
}

.aboutParagraph:last-child {
  margin-top: 32px;
}

@media only screen and (min-width: 992px) {
  .aboutContent {
    display: flex;
  }

  .aboutParagraphs {
    margin-left: 48px;
    width: calc(100% - 570px - 48px);
  }
}

@media only screen and (min-width: 1200px) {
  .aboutParagraphs {
    margin-left: 72px;
    width: calc(100% - 570px - 72px);
  }
}
